@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #00AEEF;  
}

body {
    margin: 0;
    /* LOCAL IMAGE URL */
    background: url(../images/bg.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    color: #fff;
    font-size: 1.25rem;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
}

i {
    border: solid 2px #fff;
    padding: .5rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    font-size: 1rem;
}

.logo {
    margin: 4rem 0 1rem;
    width: 200px;
}

h1 {
    letter-spacing: 5px;
    margin: 1rem 0 2.5rem;
    font-size: 2.75rem;
    font-weight: 600;
    text-transform: uppercase;
}

h1::selection,
p::selection {
    background: none;
    color: var(--primary-color);
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 2.25rem;
}

ul {
    list-style: none;
    display: flex;
    text-align: center;
}

li {
    margin: .25rem;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
    transition: all .5s ease-in-out;
    transition-property: color;
}

a:hover i {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

#particles-js {
    height: 100%;
    width: 100%;
    color: var(--primary-color);
    /* z-index: 1234; */
}


@media (max-width: 280px) {
    .logo {
        width: 100px;
    }

    .main {
        padding-top: 1rem;
    }

    h1 {
        font-size: 1rem;
    }

    p {
        font-size: .8rem;
        padding: 0 1rem;
    }
}

@media (max-width: 360px) {
    .main {
        padding-top: 2rem;
    }

    .logo {
        width: 110px;
    }

    p {
        padding: 0 1.25rem;
    }
}

@media (max-width: 414px) {
    .main {
        padding-top: 0;
    }

    .logo {
        width: 110px;
    }

    h1 {
        font-size: 1.75rem;
    }

    p {
        font-size: 1.1rem;
    }
}


@media (min-width: 500px) {
    body {
        font-size: .8rem;
        line-height: 1.25;
    }

    .logo {
        margin: 4rem 0 0;
        width: 120px;
    }

    p {
        padding: 0 3rem;
        font-size: 1.2rem;
        list-style: 1.6;
    }

    h1 {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    body {
        font-size: .8rem;
        line-height: 1.25;
    }

    .logo {
        margin: 7rem 0 0;
        width: 140px;
    }

    p {
        padding: 0 3rem;
        font-size: 1.5rem;
        list-style: 1.6;
    }
}